.card {
    background: var(--card-background);

    padding: 12px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 2px 7px var(--shadow-color);

    border: 1px solid transparent;
}

.card__header-title > span:not(:last-of-type)::after {
    content: ".";
    display: inline-block;
    transform: translateY(-20%);
    text-align: center;
    width: 0.75em;
  }

.card:hover {
    border: 1px solid var(--border-color);
}