.search {
    display: flex;
    padding: 11px 16px;
    box-sizing: border-box;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    width: 100%;
    max-width: 310px;
}

@media(max-width: 768px) {
    .search {
        max-width: 100%;
    }
}