.grid {
    width: 100%;
    margin: auto auto 48px auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-auto-flow: dense;

    column-gap: 20px;
    row-gap: 48px;
    align-items: flex-start;
}

@media(max-width: 1100px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
    }
}

@media(max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 12px;
    }
}

